SECRET_KEY              #SECRET_KEY for django project

DEBUG                   #DEBUG mode on/off (True/False)

BASE_NAME               #NAME of postgres database
BASE_USER               #USERNAME for postgres database
BASE_PASSWORD           #PASSWORD for postgres database
BASE_HOST               #HOST for postgres database
BASE_PORT               #PORT for postgres database

TELEGRAM_BOT_TOKEN      #Your telegram bot token from botfather
TELEGRAM_ADMIN_CHAT_ID  #Your telegram chat id from userinfobot