# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/

# Virtual environment
.venv/
venv/
env/
ENV/

# Environment variables
.env
.env.local
.env.prod

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Static files
staticfiles/

# Database (кроме миграций)
!*/migrations/
!*/migrations/*.py
!*/migrations/__init__.py

# Celery
.coverage
celerybeat-schedule
.flake8
.gitignore
check_project.py
/.coverage
